<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Quick Example</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" id="onePage">
                <input type="hidden" class="form-control" id="idContact" >
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastName">Nom</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Votre nom">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="firstName">Prénom</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Votre prénom">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputFile">Date de naissance</label>
                                <input type="date" class="form-control" id="birthDate" placeholder="Date de naissance">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Région</label>
                                <select class="form-control" id="region">
                                    <option value="">Sélectionner une région</option>
                                    {% for ville in ville.getDistinctRegion %}
                                        <option value="{{ ville.code_region }}">{{ ville.nom_region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Département</label>
                                <select class="form-control" id="departement">
                                    <option value="">Sélectionner département</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Ville</label>
                                <select class="form-control" id="ville">
                                    <option value="">Sélectionner une ville</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" class="btn btn-primary btn-save">Ajouter une ligne</button>
                </div>
            </form>
            <div class="hidden" id="dialog-contact" title="Champ obligatoire">
                <p style="text-align: center;margin-top: 2em">
                    {#<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>#}
                    <span id="dialog-contact-message"></span></p>
            </div>
        </div>
    </div>
</div>