<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Google Font -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'block/mainHeader.html.twig' %}
        <!-- Left side column. contains the logo and sidebar -->
        {% include 'block/mainSidebar.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% include 'block/mainFooter.html.twig' %}
        <!-- Control Sidebar -->
        {% include 'block/controlSidebar.html.twig' %}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
