<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Google Font -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
                  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
                  crossorigin=""/>
            <!-- Make sure you put this AFTER Leaflet's CSS -->
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% include 'block/mainHeader.html.twig' %}
        <!-- Left side column. contains the logo and sidebar -->
        {% include 'block/mainSidebar.html.twig' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block body %}{% endblock %}
        </div>
        {% include 'block/mainFooter.html.twig' %}
        <!-- Control Sidebar -->
        {% include 'block/controlSidebar.html.twig' %}
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>

        {% block javascripts %}
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
                    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
                    crossorigin=""></script>
            {% set route = app.request.attributes.get('_route') %}
            <script type="text/javascript">

                var yourRoute = '{{ route }}';
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
